<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список участников</title>
    <link rel="stylesheet" href="setupPage.css">
</head>
<body>

<h1>Список участников</h1>

<form id="playerForm" th:action="@{/setup}" method="post" th:object="${wrapper}">
    <div class="table-with-button" style="position: relative; width: 70%; margin: 0 auto;">
        <table id="playerTable">
            <thead>
            <tr>
                <th>Имя</th>
                <th>Фракция</th>
            </tr>
            </thead>
            <tbody id="playerTableBody">
            <tr class="player-row" ondblclick="removeRow(this)" th:each="player, iterStat : ${wrapper.playerList}">
                <td><input type="text" th:field="*{playerList[__${iterStat.index}__].name}" maxlength="50"/></td>
                <td><input type="text" th:field="*{playerList[__${iterStat.index}__].faction}" maxlength="50"/></td>
            </tr>
            </tbody>
        </table>

        <div style="position: absolute;top: 0;left: 95%;display: flex;flex-direction: column;gap: 8px;align-items: flex-start;">
            <button type="button"
                    class="add-player-btn"
                    onclick="addRow()">
                Добавить игрока
            </button>

            <input id="excelFile"
                   type="file"
                   name="excelFile"
                   accept=".xlsx,.xls,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel"
                   hidden>

            <button type="button"
                    onclick="document.getElementById('excelFile').click()">
                Добавить из файла
            </button>

            <span id="excelStatus"
                  style="font-size: 12px; white-space: nowrap;"></span>
        </div>
    </div>

    <div style="text-align: center; margin-top: 20px;">
        <label for="tourCount">Количество туров:</label>
        <input type="number" id="tourCount" name="tourCount" min="1" required>

        <label>
            <input type="checkbox" name="tourFlag"> Сформировать пары вручную
        </label>
    </div>

    <div style="text-align: center; margin-top: 20px;">
        <button type="submit">Сформировать пары</button>
    </div>
</form>


<template id="rowTemplate">
    <tr class="player-row" ondblclick="removeRow(this)">
        <td><input type="text" name="playerList[0].name" maxlength="50"/></td>
        <td><input type="text" name="playerList[0].faction" maxlength="50"/></td>
    </tr>
</template>

<script th:src="@{js-scripts/xlsx.full.min.js}"></script>
<script th:src="@{/js-scripts/addAndDeleteRows.js}"></script>
<script th:src="@{/js-scripts/copyPasteRows.js}"></script>
<script th:src="@{/js-scripts/importExcelFile.js}"></script>

</body>
</html>
