<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FINAL</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        h2 {
            text-align: center;
        }

        table {
            margin: 0 auto;
            border-collapse: collapse;
            width: 80%;
        }

        th, td {
            border: 1px solid #ccc;
            padding: 8px;
            text-align: center;
        }

        .points-col {
            width: 60px;
        }
    </style>
    <link rel="stylesheet" href="setupPage.css">
</head>
<body>

<h2>Итоги тура</h2>

<table>
    <thead>
    <tr>
        <th>Игрок</th>
        <th class="points-col">Фракция</th>
        <th class="points-col">ТР</th>
        <th class="points-col">VP</th>
        <th class="points-col">MP</th>
        <th class="points-col">AP</th>
    </tr>
    </thead>
    <tbody>

    <th:block th:each="player : ${wrapper.playerList}">
        <tr>
            <td th:text="${player.name}">Игрок</td>
            <td class="points-col" th:text="${player.faction}">Фракция</td>
            <td class="points-col" th:text="${player.tp}">ТР</td>
            <td class="points-col" th:text="${player.vp}">VP</td>
            <td class="points-col" th:text="${player.totalMp}">MP</td>
            <td class="points-col" th:text="${player.totalAp}">AP</td>
        </tr>
    </th:block>

    </tbody>
</table>
<form th:action="@{/nextTour}" method="get">
    <div style="text-align: center; margin-top: 20px;">
        <button type="submit">К следующему туру</button>
    </div>
</form>


</body>
</html>
